#google_logo{ /* centering Google logo and sizing it depending on user screen size */
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:10em;
	height:6em;
	width:17.235492em;
}

.centering{ /* centering the 'Google Search' and 'I'm Feeling Lucky' buttons */
	width:239px;
	margin:auto;
	margin-top:0.5em;
}

#navbar_top > li{ /* takes list of navbar items and positions them horizontally */
	display:inline-block;
	color:#404040;
	font:13px Arial, sans-serif;
	margin-left:5.5px;
	margin-right:5.5px;
	margin-top:-12px;	
	position:relative;
	left:72.65%;
}

#apps_icon{
	top:2.5px;
	padding-left:5px;
	padding-right:5px;
}

#notifications_icon{
	top:6px;
}

#profile_icon{
	top:10px;
}

#searchbox{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:22.5px;
	margin-bottom:-15px;
	height:26px;
	width:573px;
	border:1px solid #CFCFCF;
}

#button{
	margin: 6.5px;
	padding:8px;
	border:1px solid #CFCFCF;
	background-color:#F1F1F1;
	font:11px Arial, sans-serif;
	font-weight:bold;
	color:#484848;
	border-radius:2px;
	text-align:;
}

#fun_factoid{
	width:500px;
	margin:auto;
	margin-top:-4.5px;
	font:13px Arial, sans-serif;
	text-align:center;
}

#footer{/* note: div is display:block by default */
	border:1px solid #e4e4e4;
	background-color:#F1F1F1;
	width:100%;
	height:39.5px;
	position:absolute;
	bottom:0;
	margin-left:-10px;
	margin-bottom:0;
	padding-bottom:0;
}

#navbar_bottom_left{
	display:inline-block;
	margin-left:-12px;
}

#navbar_bottom_left >li {
	display:inline-block;
	color:#666;
	font:13px Arial, sans-serif;
	margin-left:15px;
	margin-right:15px;
	top:-4px;	
	position:relative;
}

#navbar_bottom_left >li:first-child{
	margin-left:5.5px;
}

#navbar_bottom_right{
	display:inline-block;
}

#navbar_bottom_right > li{
	display:inline-block;
	color:#666;
	font:13px Arial, sans-serif;
	margin-left:15px;
	margin-right:15px;
	position:relative;
	top:-4px;
	left:420%;
}

#navbar_bottom_right > li:first-child{
	margin-left:5.5px;
}

a{
	text-decoration:none;
}

a:visited{
	color:#666;
}